.env
.idea
*.iml
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.eslintcache
kubeconfig.yaml

node_modules/
cypress/videos
cypress/screenshots/
cypress.env.json
volume/

!.gitkeep
**/coverage

release/
*~
/backend/build/
/backend/src/db/old_data.ts
/backend/src/db/locations.ts
/backend/src/db/locations/
/backend/import.sh
